@font-face {
    font-family: font1;
    src: url(assets/ONEDAY.ttf);
  }
  body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(34, 40, 43);
    font-family: font1;
    background-image: url(assets/sunset.jpg);
    background-size: 100vw 100vh;
  }
  #grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(1, 1fr);
    height: fit-content;
    transition: margin-right 0.5s;
  }
  .header{
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 50px;
    background-color: rgb(34, 40, 43);
    background-image: linear-gradient(
      140deg,
      #000000 25%,
      #1b5545 60%,
      #069b75 100%
    );
    opacity: 0.5;
  }
  .headerName {
    padding-left: 20px;
    vertical-align: middle;
    line-height: 50px;
    margin: 0px;
    font-size: 20px;
    color: white;
  }
  .navbar {
    margin: 0px;
    padding: 0px;
    width: 100%;
  }
  .navElements { 
    display:none;
  }
  .navElements:hover {
    background-color: rgb(23, 107, 146);
  }
  .content {
    margin: 0px;
    grid-row-gap: 2vw;
    grid-column-gap: 2vw;
    display: grid;
    background-size: cover;
    grid-auto-rows: 400px;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
  .sidebarButton{
    display: inline-block;
    cursor: pointer;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
  }
  .sideElements{
    display: block;
    width: 100%;
    padding: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    transition: 0.5s;
  }
  .sideElements:hover{
    background-color: rgb(110, 187, 187);
  }
  #sidebar{
    height: 100%;
    width: 0px;
    position: fixed;
    top: 0;
    right: 0;
    overflow-x: hidden;
    background: #000000;
    transition: 0.5s;
    opacity: 0.8;
  }
  #closeButton{
    width: 20%;
    height: 40px;
    border: none;
    cursor: pointer;
    background-color: #000000;
    left: 0;
    font-size: 30px;
    text-align: center;
    color: azure
  }
  