@font-face {
  font-family: font1;
  src: url(assets/fonts/ONEDAY.ttf);
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #22282b;
  font-family: font1;
  background-image: url(assets/background/sunset.jpg);
  -moz-background-size: 100vw 100vh;
    -o-background-size: 100vw 100vh;
       background-size: 100vw 100vh;
}

#welcomeScreen {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  text-align: center;
  z-index: 1;
  position: fixed;
  height: 100%;
  width: 100%;
  opacity: 1;
  background-color: white;
  -webkit-animation-name: "whoosh";
     -moz-animation-name: "whoosh";
       -o-animation-name: "whoosh";
          animation-name: "whoosh";
  -webkit-animation-duration: 1s;
     -moz-animation-duration: 1s;
       -o-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 1s;
     -moz-animation-delay: 1s;
       -o-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
     -moz-animation-fill-mode: forwards;
       -o-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes whoosh {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-moz-keyframes whoosh {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-o-keyframes whoosh {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes whoosh {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50px 100%;
      grid-template-rows: 50px 100%;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -webkit-transition: margin-right 0.5s;
  -o-transition: margin-right 0.5s;
  -moz-transition: margin-right 0.5s;
  transition: margin-right 0.5s;
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80% 20%;
      grid-template-columns: 80% 20%;
  -ms-grid-rows: 50px;
      grid-template-rows: 50px;
  background-color: whitesmoke;
}

.headerName {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  padding-left: 30px;
  margin: 0px;
  font-size: 30px;
  color: black;
}

.navbar {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.navElements {
  display: none;
}

.navElements:hover {
  background-color: #176b92;
}

.content {
  display: -ms-grid;
  display: grid;
  grid-auto-rows: 400px;
  grid-auto-flow: dense;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.bild-rechts {
  margin: 5vh;
}

img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-border-radius: 10%;
     -moz-border-radius: 10%;
          border-radius: 10%;
}

.sidebarButton {
  display: block;
  cursor: pointer;
  width: 100%;
  height: 100%;
  color: black;
  font-size: 30px;
  text-align: center;
  line-height: 50px;
}

.sideElements {
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  color: black;
  font-size: 25px;
  text-align: center;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
}

.sideElements:hover {
  background-color: #6ebbbb;
}

#sidebar {
  height: 100%;
  width: 0px;
  position: fixed;
  top: 0;
  right: 0;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

#closeButton {
  width: 20%;
  height: 40px;
  border: none;
  cursor: pointer;
  left: 0;
  font-size: 30px;
  text-align: center;
  color: black;
}
/*# sourceMappingURL=mobileStyle.css.map */