@font-face {
  font-family: font1;
  src: url(assets//fonts/ONEDAY.ttf);
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #22282b;
  font-family: font1;
  background: url(assets/background/sunset.jpg) no-repeat;
  -moz-background-size: 100vw 100vh;
    -o-background-size: 100vw 100vh;
       background-size: 100vw 100vh;
  overflow-x: hidden;
}

#welcomeScreen {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  z-index: 1;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  opacity: 1;
  background-color: white;
  -webkit-animation-name: "whoosh";
     -moz-animation-name: "whoosh";
       -o-animation-name: "whoosh";
          animation-name: "whoosh";
  -webkit-animation-duration: 2s;
     -moz-animation-duration: 2s;
       -o-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 1s;
     -moz-animation-delay: 1s;
       -o-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
     -moz-animation-fill-mode: forwards;
       -o-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes whoosh {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-moz-keyframes whoosh {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-o-keyframes whoosh {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes whoosh {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#grid {
  display: grid;
  grid-template-rows: 50px 100%;
  grid-template-columns: 1fr;
  -webkit-transition: margin-right 0.5s;
  -o-transition: margin-right 0.5s;
  -moz-transition: margin-right 0.5s;
  transition: margin-right 0.5s;
}

.header {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 50px;
  background-color: whitesmoke;
}

.headerName {
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  margin: 0px;
  font-size: 20px;
  color: #252525;
}

.navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
          flex-direction: row;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.navElements {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
          flex: 1;
  font-size: 20px;
  text-align: center;
  color: #252525;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  transition: 0.5s ease;
}

.navElements:last-child {
  -webkit-box-flex: 0.5;
  -webkit-flex: 0.5;
     -moz-box-flex: 0.5;
          flex: 0.5;
}

.navElements:hover {
  background-color: #176b92;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: 400px;
  grid-auto-flow: dense;
  height: 100%;
  overflow: hidden;
}

.bild-rechts {
  margin: 5vh;
}

img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-border-radius: 10%;
     -moz-border-radius: 10%;
          border-radius: 10%;
}

#sidebar {
  height: 100%;
  width: 0px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}

.sidebarButton {
  cursor: pointer;
}

.sideElements {
  display: none;
  text-decoration: none;
}

#closeButton {
  width: 20%;
  height: 40px;
  border: none;
  cursor: pointer;
  left: 0;
  font-size: 30px;
  text-align: center;
  color: black;
}
/*# sourceMappingURL=style.css.map */