
@font-face {
  font-family: font1;
  src: url(assets/ONEDAY.ttf);
}
body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(34, 40, 43);
  font-family: font1;
  background-image: url(assets/sunset.jpg);
  background-size: 100vw 100vh
}
#grid {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(1, 1fr);
  height: fit-content;
  transition: margin-right 0.5s;
}
.header{
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 60px;
  background-color: rgb(34, 40, 43);
  background-image: linear-gradient(
    140deg,
    #000000 25%,
    #3c7969 60%,
    #00ffbf 100%
  );
  opacity: 0.5;
}
.headerName {
  text-align: center;
  margin: 20px;
  font-size: 20px;
  color: white;
}
.navbar {
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
  width: 100%;
}
.navElements {
  flex: 1;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  color: rgb(179, 210, 226);
  cursor: pointer;
  text-decoration: none;
}

.navElements:hover {
  animation-name: "hoverAnimation";
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes hoverAnimation {
  from {
    background-color: rgb(223, 223, 223);
  }
  to {
    background-color: rgb(23, 107, 146);
    animation-play-state: paused;
  }
}
.content {
  margin: 0px;
  grid-row-gap: 2vw;
  grid-column-gap: 2vw;
  display: grid;
  background-size: cover;
  grid-auto-rows: 400px;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.sidebarButton{
  font-family: font1;
  cursor: pointer;
  border: none;
}
#sidebar{
  height: 100%;
  width: 0px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  overflow-x: hidden;
  background: #000000;
  transition: 0.5s;
  opacity: 0.5;
}
#closeButton{
  width: 20%;
  height: 40px;
  border: none;
  cursor: pointer;
  background-color: #000000;
  left: 0;
  font-size: 30px;
  text-align: center;
  color: azure
}
