
@font-face {
  font-family: font1;
  src: url(assets//fonts/ONEDAY.ttf);
}
body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(34, 40, 43);
  font-family: font1;
  background: url(assets/background/sunset.jpg) no-repeat;
  background-size: 100vw 100vh;
  overflow-x: hidden;
}
//Grüße gehen raus
#welcomeScreen{
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  opacity: 1;
  background-color: white;
  animation-name: "whoosh";
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
@keyframes whoosh{
  to{
    opacity: 0;
  }
}
#welcomeScreen:anima
//LayoutGrid
#grid {
  display: grid;
  grid-template-rows: 50px 100%;
  grid-template-columns: 1fr;
  transition: margin-right 0.5s;
}

//HeaderContent
.header{
  width: 100%;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 50px;
  background-color: whitesmoke;
}
.headerName {
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  margin: 0px;
  font-size: 20px;
  color: rgb(37, 37, 37);
}
.navbar {
  display: flex;
  flex-direction: row;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  margin: 0px;
  padding: 0px;
  width: 100%;
}
.navElements {
  flex: 1;
  font-size: 20px;
  text-align: center;
  color: rgb(37, 37, 37);
  cursor: pointer;
  text-decoration: none;
  transition: 0.5s ease;
}
.navElements:last-child{
  flex: 0.5;
}
.navElements:hover {
  background-color: rgb(23, 107, 146);
}

//ContentStyle
.content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: 400px;
  grid-auto-flow: dense;
  height: 100%;
  overflow: hidden;
}
.bild-rechts{
  margin: 5vh;
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10%;
}

//SidebarStyle
#sidebar{
  height: 100%;
  width: 0px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  overflow-x: hidden;
  transition: 0.5s;
}
.sidebarButton{
  cursor: pointer;
}
.sideElements{
  display: none;
  text-decoration: none;
}
#closeButton{
  width: 20%;
  height: 40px;
  border: none;
  cursor: pointer;
  left: 0;
  font-size: 30px;
  text-align: center;
  color: rgb(0, 0, 0)
}
