
@font-face {
  font-family: font1;
  src: url(assets/ONEDAY.ttf);
}
body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(34, 40, 43);
  font-family: font1;
  background: url(assets/sunset.jpg) no-repeat;
  background-size: 100vw 100vh;
}
#grid {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(1, 1fr);
  height: fit-content;
  transition: margin-right 0.5s;
}
.header{
  position: fixed;
  width: 100%;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 50px;
  background-color: whitesmoke;
}
.headerName {
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  margin: 0px;
  font-size: 20px;
  color: rgb(37, 37, 37);
}
.navbar {
  display: flex;
  flex-direction: row;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  margin: 0px;
  padding: 0px;
  width: 100%;
}
.navElements {
  flex: 1;
  font-size: 20px;
  text-align: center;
  color: rgb(37, 37, 37);
  cursor: pointer;
  text-decoration: none;
  transition: 0.5s ease;
}
.navElements:last-child{
  flex: 0.5;
}
.navElements:hover {
  background-color: rgb(23, 107, 146);
}
.content {
  margin: 0px;
  grid-row-gap: 2vw;
  grid-column-gap: 2vw;
  display: grid;
  background-size: cover;
  grid-auto-rows: 400px;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.sidebarButton{
  cursor: pointer;
}
.sideElements{
  display: none;
  text-decoration: none;
}
#sidebar{
  height: 100%;
  width: 0px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  overflow-x: hidden;
  transition: 0.5s;
}
#closeButton{
  width: 20%;
  height: 40px;
  border: none;
  cursor: pointer;
  left: 0;
  font-size: 30px;
  text-align: center;
  color: rgb(0, 0, 0)
}
